/*
  Main Page Stylesheet
  Author: Kelsey Crosby
  Revision Date: 01/22/2020
*/

/* --- Main Page Framework Layout ---------------------------------------------------------------------------------------------------*/
* { box-sizing: border-box; }

body {
  font-family: Gotham-Narrow, Clio;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > article {
  border: black solid 1px;			/* Used to show article size */
  flex: 4;
  padding: 2px;
  min-height: 60vh;
}

header, footer {
  background: #840029; /*Maroon*/
  height: 60px;
}

header, footer, article, nav { padding: 1em; }

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

/* --- Slideshow Formatting ---------------------------------------------------------------------------------------------------*/
.mySlides {display: none}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, adds a Maroon background color with a little bit see-through */
.prev:hover, .next:hover { background-color: #840029;  /*Maroon*/ }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* --- Nav-Bar Formatting -----------------------------------------------------------------------------------------------------*/
/*eSports Logo*/
.team-logo {
  display: inline;
  float: left;
  width: auto;
}

/*Highlights current page nav-button*/
#nav-bar li a.active {
  color: black;
  font-size: 17px;
  border: white solid 2px;
  background-color: #FAA41A; /*Yellow Gold*/
}

#nav-bar ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#nav-bar li{
  display: inline;
  text-decoration: none;
  width: 100px;
  padding-right: 7px;
  float: right;
}

#nav-bar li a {
  font-size: 15px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

#nav-bar a {
  text-decoration: none;
  text-align: center;
}

#nav-bar a:hover {
  color: black;
  font-size: 17px;
  border: white solid 1px;
  background-color: #FAA41A; /*Yellow Gold*/
}

/* --- Article Content --------------------------------------------------------------------------------------------------------*/
/*Content Div Container*/
.about {
	padding-top: 15px;
	text-align: center;
	display: inline-block;
}

/*About Button*/
.about-button {
  background: #840029;
  border: white 1px solid;
  color: white;
  display: inline-block;
  height: 40px;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}

.about-button:hover { background-color: #FAA41A; /*Yellow Gold*/ }

/* --- Meet the Teams Content -------------------------------------------------*/
/*View Teams by Game Buttons*/
.game {
  background: #840029;
  border: white 2px solid;
  color: white;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}

/*Removes inherited padding*/
.game a {
  padding: 0;
  margin: 0;
}

.game:hover { background-color: black; }

/* --- Profile Cards Formatting -----------------------------------------------*/

/*Team Name Buttons*/
.game-list { text-align:center; }

/*Profile Container*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  font-family: arial;
  margin: 0 auto;
  width: 300px;
  border: #840029 1px solid;  /*Maroon*/
}

/*Player Username*/
.title {
  color: grey;
  font-size: 18px;
}

/*View Player Profile Button*/
.player-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*View Player Profile Button a href*/
.player-button a {
  text-decoration: none;
  font-size: 22px;
}

.player-button:hover { background-color: #840029; /*Maroon*/ }

/*Team Profile Background Container*/
.team-profile-container {
    background-color:#840029; /*Maroon*/
    display: inline-block;
    text-align: center;
}

/*Team Members Container*/
.team-list {
  padding-top: 20px;
	text-align: center;
	display: inline-block;
}

/*Team Member Profile Cards*/
.card {
  background-color: white;
  text-align: center;
  display: inline-block;
}
