* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #840029;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FAA41A;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

/* --- Sign in Content Formatting ---------------------------------------------------------------------------------------------*/

  header, footer {
    background: #840029;
    height: 60px;
  }

  header, footer, article, nav {
    padding: 1em;
  }

  .sign-in-footer {
	  position: fixed;
	  bottom:0;
	  width: 100%;
  }
/* --- Nav-Bar Formatting -----------------------------------------------------------------------------------------------------*/
  .team-logo {
	display: inline;
	float: left;
	width: auto;
  }

  li a.active {
	color: black;
	font-size: 17px;
	border: white solid 2px;
	background-color: #64A41C;
	}

  #nav-bar ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
  }

  #nav-bar li{
	display: inline;
	text-decoration: none;
	width: 100px;
	padding-right: 7px;
	float: right;
  }

  li a {
	font-size: 15px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
  }

  #nav-bar a{
	text-decoration: none;
	text-align: center;
  }

  #nav-bar a:hover {
	color: black;
	font-size: 17px;
	border: white solid 2px;
	background-color: #FAA41A;
  }
